/* Google fonts - Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

/* Google fonts - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth@75..100&display=swap');


html {
    font-size: 62.5%;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
/* GRID CONFIG */
#header{
    grid-area: header;
}
#acessible-location{
    grid-area: acessible-location;
}
#productive{
    grid-area: productive;
}
#early-access{
    grid-area: early-acess;
}
#footer {
    grid-area: footer;
}
.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "acessible-location acessible-location"
        "productive productive"
        "early-acess early-acess"
    ;
    grid-template-columns: repeat(2, 1fr);
    font-family: "Open Sans", sans-serif;
    font-size: var(--ParagraphSize);
}

/* ~~ HEADER STYLE ~~ */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem var(--DefaultSpacing);
}
#header .fylo-logo img {
    width: 100%;
}
#header .menu ul {
    display: flex;
}
#header .menu ul li {
    margin-left: 6rem;
}
#header .menu ul li a {
    font-family: "Raleway", sans-serif;
    color: var(--MainDark);
}

/* ~~ SECTION STYLE ~~  */
h1,h2 {
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

/* SECTION IMAGES SIZING */
.section-image img {
    width: 100%;    
}
/* ~~ FIRST SECTION STYLE ~~  */
#acessible-location{
    display: grid;
    grid-template-columns: minmax(30rem, 54rem) 1fr;
    padding: 0 var(--DefaultSpacing);
    gap: 5rem;

    margin-bottom: var(--DefaultSpacing);
}

/* ~~ SECOND SECTION STYLE ~~  */
#productive {
    background: url(../images/bg-curve-desktop.svg) no-repeat center center;
    background-size: cover;

    display: grid;
    grid-template-columns: minmax(30rem, 57rem) 1fr;
    padding: 10rem var(--DefaultSpacing);
    gap: 5rem;
}

/* ~~ TESTIMONIAL CARD STYLE ~~ */
.testimonial-card {
    background-color: #fff;
    padding: 4rem;
    max-width: 42rem;

    border-radius: 1rem;
    box-shadow: 0 0 2rem -0.5rem var(--Neutral02);
    
    color: var(--MainDark);
}
.card-content img {
    width: 2rem;
}

.card-content p {
    margin: 2rem 0;
}

.testimonial-profile {
    display: flex;
    align-items: center;
}
.testimonial-profile .avatar-image img {
    border-radius: 50%;
    width: 3.5rem;
}
.testimonial-profile .profile-info {
    margin-left: 1rem;
    font-family: "Raleway", sans-serif;
}
.testimonial-profile .profile-info .profile-name {
    font-size: 1.5rem;
    font-weight: 700;
}
.testimonial-profile .profile-info .profile-role {
    font-size: 1rem;
    line-height: 2;
}

/* ~~ EARLY ACCESS SECTION STYLE ~~  */
#early-access {
    background-color: var(--MainSmooth);
    color: var(--Neutral01);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: var(--DefaultSpacing);
}
#early-access .content {
    padding-right: 15rem;
}
#early-access .content h2 {
    font-size: 3rem;
}
#early-access form {
    padding: 0 var(--DefaultSpacing);
}


/* ~~ FORM DEFAULT CONFIGS ~~ */
form input {
    border-radius: 0.5rem;
}
form .button {
    display: block;
    width: fit-content;
    padding: 1rem 5rem;
    height: 4.2rem;

    border: none;
    background-color: var(--Button);
    color: var(--Neutral01);
    font-weight: 700;
}


/* ~~  SECTION-1 FORM > INPUT STYLE ~~ */
#acessible-location #form-1 {
    display: flex;
    align-items: center;
}
#acessible-location #form-1 #email-1 {
    padding: 1.5rem 2rem 1rem 2rem;
    width: 55%;
    margin-right: 2rem;

    border: 0.1rem solid var(--MainDark);
    color: var(--MainDark);
}


/* ~~  SECTION-3 FORM > INPUT STYLE ~~ */
#early-access #form-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#early-access #form-2 #email-2 {
    padding: 2rem ;
    width: 100%;
    margin-right: 2rem;

    border: 0.1rem solid var(--MainDark);
    color: var(--MainDark);
}

